<div style="padding: 5rem;" id="seccion2">
    <div class="row  row-cols-1 row-cols-md-3" >
        <div class="col d-flex align-items-center justify-content-center">
            <img id="fotoBiografia" src="~/Imagenes/io.jpg" alt="FotoBiobgrafia"/>
        </div>

        <div class="col d-flex align-items-center justify-content-center m-auto">
            <div>
                <h1>About Me</h1>
                <span class="m-1">
                    I'm a gradauate of the Computer System program at Tamaulipas University,Rio
                    Bravo campus,I'm passioate about learning new things and creating projects
                    from scratch.That's why I decided to specialize in web and desktop software
                    development, as I believe that anything one envisions can be brought to life
                    through a computer.
                </span>
            </div>
        </div>
    </div>
    
</div> 