<div class="container" id="seccion1" style="padding-top: 6rem;">
    <div class="row row-cols-1 row-cols-md-3 justify-content-md-center p-4">
        <div class="col text-center d-flex align-items-center justify-content-center m-auto">
            <div>
                <h1>Welcome</h1>
                <span>I'm Jordy Rodriguez,Engineer in systems specialized in web development.</span>
                <button class="btn btn-primary m-2"><a asp-controller="Home" asp-action="DescargarCV">Descargar CV</a></button>
            </div>
            
        </div>
        <div class="col text-center d-flex align-items-center justify-content-center m-auto">
            <img id="foto" src="~/imagenes/logoYo.jpg" alt="MiFoto" />
        </div>
    </div>
</div>
