<div class="container">
    <h1>Email enviado con exito!!!! Espera la Respuesta Pronto</h1>
</div>
<button class="btn btn-primary"><a asp-controller="Home" asp-action="Index">Regresar al Inicio</a></button>