<div class="container">
    <h1>Error no se pudo enviar el correo en este momento, Intete más tarde</h1>
    <img id="foto" src="~/Imagenes/error.jpg" />
    <button class="btn btn-primary m-2"><a asp-controller="Home" asp-action="Index">Regresar al Menu</a></button>
</div>


